Задача 1

In [ ]:
word = input('Введите слово: ')
x = len(word)//2
if (len(word) % 2) == 0:
    print(word[x-1:x+1])
else:
    print(word[x])

Задача 2

In [ ]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
if (len(boys) == len(girls)):
    pare = zip(sorted(boys), sorted(girls))
    for couple in list(pare):
        print(f'{couple[0]} и {couple[1]}') 
else:
    print('Кто-то может остаться без пары! Мы не будем никого знакомить')

Задача 3

In [ ]:
countries_temperature = [
 ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
 ['Germany', [57.2, 55.4, 59, 59, 53.6, 55.4, 57.2]],
 ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
 ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4, 51.8]],
]
for country in countries_temperature:
    average_celsium = ((sum(country[1])-32)*5/9)//7
    print(f"Average temperature in {country[0]} this week is {int(average_celsium)}")

Задача 4

In [ ]:
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]

In [ ]:
views = []
unique_user = []
for log in stream:
    log = log.split(',')
    user = log[1]
    views.append(int(log[2]))
    if user not in unique_user:
        unique_user.append(user)
print(f"Среднее количество просмотров: {sum(views)/len(unique_user)}")

Задача 5

In [ ]:
stats = [
    ['2018-01-01', 'google', 25],
    ['2018-01-01', 'yandex', 65],
    ['2018-01-01', 'market', 89],
    ['2018-01-02', 'google', 574],
    ['2018-01-02', 'yandex', 249],
    ['2018-01-02', 'market', 994],
    ['2018-01-03', 'google', 1843],
    ['2018-01-03', 'yandex', 1327],
    ['2018-01-03', 'market', 1764],
]

In [ ]:
date = str(input('Введите дату в формате ГГГГ-ММ-ДД: '))
ad = str(input('Введите название рекламной кампани: '))
for log in stats:
    if (date in log) and (ad in log):
        print(log[2])

Задача 6

In [ ]:
data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35],
]

In [ ]:
sum_el = 0
x = 0
for number in data:
    x += 1
    sum_el += data[x-1][x-1]
print(sum_el)