In [1]:
import pandas as pd

Определите какому фильму было выставлено больше всего оценок 5.0.

In [10]:
data = pd.read_csv('u.data', names = ['userId', 'itemId', 'rating', 'timestamp'], sep = '\t')
filtered_data = data[(data['rating']==5)]
filtered_data['itemId'].value_counts().head(1)

50    325
Name: itemId, dtype: int64

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [42]:
data_power = pd.read_csv('power.csv')


filter_c = data_power[ (data_power['country']=='Latvia') | (data_power['country']=='Lithuania') | (data_power['country']=='Estonia') ]
filter_y = filter_c[(2010 >= filter_c['year']) & (filter_c['year']>= 2005)]
filter_cat = filter_y[ (filter_y['category']==4) | (filter_y['category']==12) | (filter_y['category']==21)]
filter_q = filter_cat[filter_cat['quantity']>=0.0]

filter_q['quantity'].sum()

240580.0

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [28]:
page_url = 'https://fortrader.org/quotes'

df = pd.read_html(page_url)[0]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,EURRUB Курс евро к рублю сегодня,87.6641,1.3170,1.5252,NaN
1,USDRUB Курс рубля к доллару,74.0372,0.9201,1.2584,NaN